[user]
	email = dannypires99@gmail.com
	name = Danny Pires 
[init]
	defaultBranch = master
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	credentialStore = gpg

[credential "https://dev.azure.com"]
	useHttpPath = true
