# This is Git's per-user configuration file.
[user]
	name = dannyp99
	email = dannypires99@gmail.com
# Please adapt and uncomment the following lines:
#	name = Danny Pires
#	email = dannyp99@Dannys-MacBook-Pro.local
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = false
[init]
	defaultBranch = master
[credential]
	helper = /usr/local/bin/git-credential-manager
    credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
